html
{
scroll-behavior: smooth;	
}

body
{
background-color:#fcf7f7;
transition:background-color 2s;
}

button.main
{
	color:#3ddc84;
	border:#4285f4 solid 0.3vw; 
	background-color:transparent;
	font-weight:900;
	font-family:'Open Sans', sans-serif;
	font-size:x-large;
	transition:border 0.5s;
	border-radius:1vw;
	width:22vw;
}

button.main:hover
{
	border:#ebdada solid 0.3vw; 
}

ul.mainul
{
	list-style-type:none;
	font-family:'Open Sans', sans-serif;
}


div.maindiv
{
		font-size:x-large;
		color:black;
		font-size:large;
		transition:color 2s;
		font-family:'Open Sans', sans-serif;
		font-weight:900;
}